<%- include('layouts/head.ejs') %>
<%- include('layouts/nav.ejs') %>
    <h1>Hola a todos desde Index</h1>
    <img src="/images/animation_lkm4hz0u_small.gif" alt="images">
<%- include('layouts/footer.ejs') %>