<div class="navbar bg-base-100">
    <div class="flex-1">
        <a class="btn btn-ghost text-xl">daisyUI</a>
    </div>
    <div class="flex-none">
        <ul class="menu menu-horizontal px-1">
            <li><a href="/">Inicio</a></li>
            <li>
                <details>
                    <summary>
                        Otros
                    </summary>
                    <ul class="p-2 bg-base-100 rounded-t-none">
                        <li><a href="/">Inicio</a></li>
                        <li><a href="/about">Nosotros</a></li>
                    </ul>
                </details>
            </li>
        </ul>
    </div>
</div>